# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly set certain files to always use LF
*.py text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
